.pad {
  background-color: #eee;
  padding: 4px;
  overflow:hidden  /*  first */
}
.fif {
  display: inline-block;
  margin: 0;
  padding: 4px 8px;
  /* second part */
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
